# FUNCTIONS

In [ ]:
def couples(hname,wname):
    print('The name of husband is :',hname)
    print('The name of wife is :',wname)
    
couples(wname = 'fatima' , hname = 'Ali')

In [ ]:
def couples(hname,wname):
    print('The name of husband is :',hname)
    print('The name of wife is :',wname)
    
couples('Ali','Fatima')

In [ ]:
def couples(hname , wname ):
    print(f'The name of husband is : {hname} and the name of wife is : {wname}.')
couples('Ali','Fatima')

In [7]:
def calculator():
    print('\t\t\t\t\t CALCULATOR')
    print('Press + to Add')
    print('Press - to Subtract')
    print('Press * to Multiply')
    print('Press / to Divide')
    print('Press Quit to Exit only in Operation \n')
    while True:
        num1=int(input('Enter a Number:'))
        num2=int(input('Enter a Another Number:'))
        operation=input('Enter any opertion: ').lower()
        if operation=='+':
            x=num1+num2
            print(x)
        elif operation=='-':
            x=num1-num2
            print(x)
        elif operation=='*':
            x=num1*num2
            print(x)
        elif operation=='/':
            x=num1/num2
            print(x)
        elif operation=='quit':
            break;

In [ ]:
calculator()

					 CALCULATOR
Press + to Add
Press - to Subtract
Press * to Multiply
Press / to Divide
Press Quit to Exit only in Operation

Enter a Number:24
Enter a Another Number:12
Enter any opertion: /
2.0

In [2]:
def my_list(name):
    for name1 in name:
        print('hello',name1)

a=['Ali',"Ahmed","Faraz"]
my_list(a)

hello Ali
hello Ahmed
hello Faraz

In [9]:
def data(details):
    for detail1 in details:
        print('Your data is : ',detail1)

a=['Hammad'," Rizwan" , " 17 "," Male"] 
data(a)

Your data is :  Hammad
Your data is :   Rizwan
Your data is :   17
Your data is :   Male

In [1]:
def mycar(name , company ='Honda', model=2012):
    print('I have a ' , name)
    print('The company name is ',company)
mycar('city')

I have a  city
The company name is  Honda

In [6]:
#Over Write 2nd parameter
def shirt(size,text='Apna Time Ayega'):
    print('The size of my shirt is ',size)
    print('The text i want to write on it',text.upper())
shirt(33,'HI')

The size of my shirt is  33
The text i want to write on it HI

In [12]:
def human(first_name,last_name,age,Gender):
    person ={'fname: ': first_name,'Lname:':last_name,'Age:':age,'Gender : ':Gender}
    for key,value in person.items():
        return(key,value)

        
        
human('Ali','Ahmed',23,"Male")

fname:  Ali
Lname: Ahmed
Age: 23
Gender :  Male

In [1]:
def data():
    f_name=input('Write your first name : ')
    m_name=input('Write your Middle name : ')
    l_name=input('Write your last name : ')
    
    if m_name=='':
        print(f_name,l_name)
    else:
        print(f_name , m_name, l_name)
data()

Write your first name : taha
Write your Middle name :
Write your last name : hammad
taha hammad

In [27]:
def info(f_name,l_name,m_name=" "):
    if m_name==" " :
        full_name=f_name+m_name+l_name
    else:
        full_name=f_name+l_name
    return full_name
a=info('hammad','rizwan')
print(a)

hammad rizwan

In [36]:
def info_form(f_name,l_name,m_name="",age=0,Address=""):
    if m_name or age or Address:
        print("FIRST_NAME:",f_name,"\nMIDDLE_NAME:",m_name,"\nLAST_NAME:",l_name,"\nAGE:",str(age),"\nAddress:",Address)
    else:
         print("FIRST_NAME:",f_name,"\nLAST_NAME:",l_name)
info_form('Hammad',"Naviwala","Rizwan",18,"Dhoraji")

FIRST_NAME: Hammad
MIDDLE_NAME: Rizwan
LAST_NAME: Naviwala
AGE: 18
Address: Dhoraji

In [48]:
def pizza(*topping):
    print("Here is your pizza")
    for toppings in topping:
        print(toppings)
pizza('cheese')

Here is your pizza
cheese

In [49]:
pizza('cheese',"vegetable",'fajita')

Here is your pizza
cheese
vegetable
fajita

In [51]:
def kababjees(food,*drink,**sweetdish):
    print(food,drink[0],sweetdish)
kababjees('malaiboti','pepsi',end=['ice cream','chocolate'])

malaiboti pepsi {'end': ['ice cream', 'chocolate']}